{% extends 'base.html' %}

{% block title %} DELETE BLOCK POST {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Delete post blog ...</h1>
    <br><br/>
    <h3> Delete: {{ post.title }}</h3>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong> Are you sure? </strong><br/>
            <button type="submit" class="btn btn-secondary">Delete post</button>
        </form> <!-- Closed the form tag here -->
    </div>
{% else %}
    <p>You are not allowed here!</p>
{% endif %}

{% endblock %}
